dist: xenial
language: python

python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8-dev
  - pypy3.5  # == 5.10.1
  - pypy3.5-6.0

env:
  # Would be great to test 0.53 but there's no Ubuntu Trusty PPA that has it.
  #- LIBMEMCACHED_VERSION='0.53'
  # We upgraded to Xenial so there's no 1.0.8.
  #- LIBMEMCACHED_VERSION='1.0.8'
  - LIBMEMCACHED_VERSION='1.0.18'

notifications:
  irc:
    channels:
      - "chat.freenode.net#sendapatch"
    on_success: change
    on_failure: change

before_install:
  # Ubuntu Xenial's libmemcached is 1.0.18 (Ubuntu Xenial). Need PPAs for other
  # versions. Why bother when libmemcached is dead.
  #- sh -c "if [ $LIBMEMCACHED_VERSION = '0.53'  ] ; then sudo add-apt-repository ??? -y; fi"
  #- sh -c "if [ $LIBMEMCACHED_VERSION = '1.0.8' ] ; then sudo add-apt-repository ??? -y; fi"
  - sudo apt-get update -qq
  - sudo apt-get install memcached
  - sudo service memcached start
  - sudo apt-get install libmemcached-dev
  - apt-cache show libmemcached-dev
  - echo "stats settings" | nc localhost 11211

install: python setup.py install

before_script:
  - sh -c "[ x$LIBMEMCACHED_VERSION = x$(python -c 'import pylibmc; print(pylibmc.libmemcached_version)') ]"
  - pip install nose

script: python bin/runtests.py -v tests --with-doctest
